html {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2rem;
}

.container {
  max-width: 25rem;
  margin: 0 auto;
  padding: 1.25rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.625rem;
  background-color: #f9f9f9;
}

.input-field {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 1.25rem ;
  border: .0625rem solid #ccc ;
  border-radius: .3125rem; 
  box-sizing:border-box; 
}

.button {
width :100% ; 
padding: 0.625rem ; 
border:none ; 
border-radius: 0.3125rem; 
background-color:#0013bd ;
color:white ;
font-weight:bold ;
cursor:pointer ;
}

@media screen and (max-width :48em) {  
  
  .container{
  max-width :90% ;  
  border-radius :0;  
  }
  
}